@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: lofi --default;
}

@font-face {
  font-family: 'Formera';
  src: url('./fonts/Formera-Regular.woff2') format('woff2');
  font-display: swap;
}

@theme {
  --font-sans: 'Formera', sans-serif;
}
